.menu {
  background: linear-gradient(180deg, #785cad 0%, #eb6897 100%);
  max-width: 300px;
  height: 100vh;

  &__link {
    display: flex;
    align-items: center;
    color: white;
    font-size: $font-med;

    &.active {
      background-color: #ffffff42;
    }

    &:hover {
      background-color: #ffffff7e;
      transition: all 1s;
    }
  }

  &__icon-wrap {
    padding-right: 20px;
    padding-left: 30px;
  }
}
