.nav {
  background: linear-gradient(180deg, #785cad 0%, #eb6897 100%);
  width: 240px;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__icon-wrap {
    margin-top: 20px;
    align-self: end;
    margin-right: 20px;
    cursor: pointer;
  }

  &__logout {
    position: relative;
    background: none;
    padding-left: 50px;
    margin-bottom: 20px;

    &::before {
      content: url('../assets/images/logout.svg');
      position: absolute;
      left: 30px;
      top: 10px;
      width: 30px;
    }
  }
}

.menu {
  &__link {
    display: flex;
    align-items: center;
    color: white;
    font-size: $font-med;
    height: 70px;

    &.active {
      background-color: #ffffff42;
    }

    &:hover {
      background-color: #ffffff7e;
      transition: all 1s;
    }
  }

  &__icon-wrap {
    padding-right: 20px;
    padding-left: 30px;
    display: flex;
    align-items: center;
  }

  &__img {
    width: 50px;
  }
}
