.sprint {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__wrapper {
    width: 600px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid $violet;
    font-size: $font-s-big;
  }

  &__plus-score {
    font-size: $font-title;
    font-weight: bold;
    color: $violet;
  }

  &__main {
    display: flex;
    height: 200px;
    justify-content: space-between;
    margin-top: 50px;
  }

  &__words {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    line-height: 0;
  }

  &__word {
    color: $violet;
    font-weight: bold;
    font-size: $font-big;
  }

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    border: 1px solid $violet;
    flex-shrink: 0;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .button {
      height: 60px;

      &:first-of-type {
        background-color: $light-violet;
      }
    }
  }

  &__question {
    align-self: center;
    font-size: 200px;
    font-weight: bold;
    color: $med-gray;
  }

  &__equally {
    font-size: 100px;
    font-weight: bold;
    color: $med-gray;
  }

  &__time {
    color: $gray;
    padding-right: 10px;
  }

  &__score {
    color: $gray;
    padding-right: 10px;
  }

  &__score-count {
    color: $violet;
  }

  &__time-count {
    color: $violet;
  }
}
