.textbook {
    padding-left: 50px;
    position: relative;
    background-size: contain;

    &__title {
      font-size: $font-title;
      color: $violet;
      padding-top: 15px;
      background-image: url('../assets/images/gray-back.svg');
      background-repeat: no-repeat;
      background-position: left -35px;
    }

    .difficulty {
      padding-top: 20px;

      &__title {
        font-size: $font-big;
        color: $gray;
      }

      &__list {
        display: flex;
        gap: 25px;
        padding-top: 25px;
      }

      &__item {
        width: 73px;
        height: 73px;
        line-height: 73px;
        background-color: $light-violet;
        border-radius: 50%;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
        font-size: 48px;
        color: $white;
      }

      &__item-active {
        background: $violet;
      }
    }
    
    .words {
      padding-top: 100px;

      &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 22px;
      }

      &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 256px;
        height: 100px;
        background-color: $light-gray;
        border-radius: 16px;
      }

      &__word {
        font-weight: bold;
        font-size: $font-med;
        text-transform: uppercase;
        color: $violet;
      }

      &__translate {
        font-size: $font-sm;
        color: $black;
      }
    }
}
