html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.3;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

h1 {
  margin-top: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.button {
  background-color: #d2448d;
  color: white;
  outline: none;
  border: none;
  width: 180px;
  height: 50px;
  font-size: 1.5rem;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content {
  overflow-y: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100vh;
}

.nav {
  background: -webkit-gradient(linear, left top, left bottom, from(#785cad), to(#eb6897));
  background: linear-gradient(180deg, #785cad 0%, #eb6897 100%);
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  width: 115px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav.open {
  width: 240px;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.nav__close-wrap {
  margin-top: 20px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-right: 20px;
  cursor: pointer;
}

.nav__burger-wrap {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 20px;
  cursor: pointer;
}

.nav__logout {
  position: relative;
  background: none;
  padding-left: 50px;
  margin-bottom: 20px;
}

.nav__logout::before {
  content: url("../assets/images/logout.svg");
  position: absolute;
  left: 30px;
  top: 10px;
  width: 30px;
}

.nav__logout-wrap {
  width: 50px;
  margin-bottom: 20px;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 1.125rem;
  height: 70px;
}

.menu__link.active {
  background-color: #ffffff42;
}

.menu__link:hover {
  background-color: #ffffff7e;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.menu__icon-wrap {
  padding-right: 20px;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__img {
  width: 50px;
}

.none {
  display: none;
}

.main {
  position: relative;
}

.main__wrap {
  padding-left: 50px;
  position: relative;
  background-image: url("../assets/images/gray-back.svg");
  background-repeat: no-repeat;
  width: 35%;
  background-size: contain;
}

.main h1 {
  font-size: 7vw;
  color: #785cad;
  padding-top: 50px;
}

.main__subtitle {
  color: #5d6571;
  font-size: 1.125rem;
  max-width: 80%;
  padding-top: 50px;
}

.main__login {
  position: absolute;
  right: 30px;
  top: 30px;
  background-color: #a68efe;
  font-size: 1.125rem;
  padding-left: 50px;
}

.main__login::before {
  content: url("../assets/images/user.svg");
  position: absolute;
  left: 30px;
  top: 0;
}

.main__start {
  margin-top: 50px;
}

.main__img {
  position: absolute;
  right: 70px;
  top: 70px;
  width: 45vw;
}

.textbook {
  padding-left: 50px;
  position: relative;
  background-size: contain;
}

.textbook__title {
  font-size: 2.8125rem;
  color: #785cad;
  padding-top: 15px;
  background-image: url("../assets/images/gray-back.svg");
  background-repeat: no-repeat;
  background-position: left -35px;
}

.difficulty {
  padding-top: 20px;
}

.difficulty__title {
  font-size: 1.5rem;
  color: #5d6571;
}

.words {
  padding-top: 20px;
}

.words__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 22px;
  max-width: 70%;
}

.words__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 100px;
  background-color: #eae8ed;
  border-radius: 16px;
}

.words__word {
  font-weight: bold;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #785cad;
}

.words__translate {
  font-size: 1rem;
  color: #000000;
}
/*# sourceMappingURL=style.css.map */